.rental .max-width {
  padding: 1rem;
}

.rental .max-width .form {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1),
    -5px -3px 60px rgba(0, 0, 0, 0.1);
}
.rental .rentalWrapper {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  width: 100%;
}
.rental .inputGroup {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.rental .preview {
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  scale: 0.9;
  border-radius: 5px;
  position: sticky;
  top: 50px;
}
.rental .max-width .form p {
  font-weight: 600;
  margin-bottom: 1rem;
}
.rental .btn {
  max-width: 150px;
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  margin-left: 1rem;
}

.rental label label {
  display: flex;
  margin-top: 0.3rem;
  width: 50%;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 0.2rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.rental .btn:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

.rental select {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.rental select option:hover {
  background-color: var(--primaryColor);
  color: #fff;
}
.rental .input {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
}
.rental .input.active {
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryColor);
  color: #fff;
}

.rental .inputField {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.rental .previewBtn {
  display: inline-block;
  position: fixed;
  top: 10rem;
  right: 0rem;
  writing-mode: vertical-rl;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  z-index: 1201;
  display: none;
}

@media screen and (max-width: 768px) {
  .rental .previewBtn {
    display: inline-block;
  }
  .rental .rentalWrapper {
    grid-template-columns: 1fr;
  }
  .rental .preview {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 100%;
    z-index: 1200;
    transition: 0.3s;
  }
  .rental .preview.active {
    left: 0;
  }
}
