.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}
.errorPage .errorPage_wrapper {
  text-align: center;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.215);
  padding: 2rem;
  border-radius: 1rem;
}
.errorPage h1 {
  font-size: clamp(3rem, 5vw, 5rem);
  color: #333;
}
.errorPage p {
  font-size: clamp(1rem, 3vw, 2rem);
  color: #666;
  margin-top: 1rem;
}

.errorPage a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
}
