.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.login form {
  padding: 1rem;
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}
.login form.loading::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation: loading 1s linear infinite;
}

@keyframes loading  {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.login form.loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #fc0606;
  border-radius: 50%;
  z-index: 1;
  animation: loading1 1s linear infinite;
}
@keyframes loading1 {
  0%,
  100% {
    scale: 0.5;
  }
  50% {
    scale: 1;
  }
}
.login form .inputField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.login form .inputField label {
  font-weight: bold;
  font-size: 0.9em;
}
.login form .inputField input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.login form button {
  background-color: var(--primaryColor);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 0.9em;
}
.login form .msg {
  color: var(--primaryColor);
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9em;
}
.login form .msg.success {
  color: #07803a;
}
.login form button:hover {
  background-color: #fff;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
