nav {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
}

nav .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav .menuLinks {
  position: relative;
  display: flex;
  gap: 1rem;
}
nav .menuLinks ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .menuLinks ul li {
  position: relative;
}
nav .menuLinks ul li a {
  position: relative;
  padding: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  font-size: 0.9em;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

nav .menuLinks ul li a:hover {
  color: var(--primaryColor);
}
nav .menuLinks ul li a::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0%;
  left: 50%;
  top: calc(100% + 1.15rem);
  border-radius: 0.2rem;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

nav .menuLinks ul li a:hover::after,
nav .menuLinks ul li a.active::after {
  width: 90%;
  background-color: var(--primaryColor);
}

nav .menuLinks button {
  padding: 0.5rem 2rem;
  background-color: var(--primaryColor);
  color: white;
  border-radius: 0.5rem;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav .menuLinks button:hover {
  background-color: rgb(51, 51, 51);
}
